[submodule "themes/hexo-theme-geek"]
path = themes/hexo-theme-geek
url = git@github.com:sanjinhub/hexo-theme-geek.git

[submodule "themes/Lights"]
path = themes/Lights
url = git@github.com:0sx86/Hexo-Lights.git
